.container_home {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.home-properties {
  display: flex;
  flex-wrap: wrap;
  left: 0%;
}

.home_seeMore {
  width: 50px;
  font-size: 64px;
  border: none;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.home_seeMore:hover {
  color: #ED3237;
  margin-top: 64px;
}

.home_warning {
  width: 100%;
  text-align: center ;
  font-size: 32px;
  margin-top: 32px;
  color: #FF4500;	
}

@media (max-width: 600px) {
  .container_home {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}