.container_propertieItem {
  width: 360px;
  height: 100%;
  background-color: #FFFEFE;
  margin-left: 100px;  
  margin-top: 44px;
}

.container_propertieItem hr {
  border: solid 1px #EDE9E9;
  margin-top: 16px;
}

.container_propertieItem p {
  text-align: center;
}

.container_propertieItem button {
  width: 100%;
  height: 60px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

.container_propertieItem img {
  width: 100%;
  height: 175px;
}

.container_propertieItem-atributes {
  width: 100%;
  display: flex;
  font-size: 16px;
  margin-top: 16px;
}

.container_propertieItem-atributes p {
  margin-left: auto;
  margin-right: auto;
}

.container_propertieItem-village {
  width: 100%;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container_propertieItem-price {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  margin-top: 16px;
}

.container_propertieItem-button {
  margin-top: 16px;
}

.container_propertieItem-button .knowmore{
  background-color: #0972AD;
}

.container_propertieItem-button .whats {
  background-color: #4AAE20;
  font-size: 30px;
}