nav {
    background-color: #F9F8FC;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    margin-left: 48px;
}

.menuItem {
    display: flex;
    list-style: none;
    gap: 28px;
    margin-right: 48px;
    font-size: 1rem;
    cursor: pointer;
}

.menuItem a {
    color: #000;
    text-decoration: none;
}

.menuItem a:hover {
    font-weight: 300;
    color: #ED3237;
}
