.container_socialmedia {
  font-size: 30px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.facebook:hover {
  color: #3A559F;
}

.instagram:hover {
  color: #9F37B9;
}

.whats:hover {
  color: #4AAE20;
}